.clientes {
    min-height: 30rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    img {
        width: 10rem;
        padding: 1rem;
    }
    .marvel {
        width: 17rem;
    }
    
   
}