
.contenedor-footer {
    @include tablet {
        .Afilados-Rosario {
            p {
                display: none;
            }
        }
    }
    .AfiladosRosario {
        background-size: cover;
    }
    p{
            padding: 2rem;
     }
  
}



.imagen-contacto{
    margin: 1rem;
}


.parrafo {
        background-color: $blanco;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: $negro;
        box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.20);
        border-radius: .5rem;
        padding: .8rem;
        font-family: $fuente_principal;

        
    
}
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        text-align: center;
        color: $negro;
}

.logos{
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    a.enlace{
        color: $negro;
        font-size: 2rem;
        text-align: center;
        
        
        &:hover{
            color: $amarillo;
        }
    }
}

.redes {
    margin: 3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@include telefono {
  .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  }
}

.iframe {
    .mapa {
        height: 40vh;
        width: 100%;
       
    }
}


div > .AfiladosRosario {
    
    @include tablet {
        display: none;
    }
    width: 100%;
    height: auto;
  
}

.mapa {
    @include telefono {
      width: 100%;
    }
  
}
.titulo {
    
    text-align: center;
    font-size: 3rem;
    color: $negro;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        padding: .5rem;
        width: 6rem;
    }
}

div .copy{
    background-color: $negro;
    color: $blanco;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;

    a{
        cursor: pointer;
        color: $blanco;

        &:hover{
            color: $amarillo;
        }
    }
}

.enlace__repo {
    color: $blanco;
}
    
    
// Whatsapp fijo


.wtp {
        width: 5rem;
        position: fixed;
        z-index: 100;
        top: 92%;
        left: 2rem;
        transition: all 300ms ease;
   
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

}