.navegacion {
 background: #1e130c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,  #1e130c, #9a8478);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1e130c, #9a8478 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.button {
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #1e130c, #ad6842,);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #22150d, #a36340,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}



